.etiqueta{
    color:white !important;
    font-weight: bold !important;
    width: 100% !important;
    height: 2em !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }